---
import Page from "../layouts/DefaultPage.astro"
import {Image} from "astro:assets"
import { Code } from 'astro:components'
import workReserve from "../assets/images/works/reserve-plus.jpg"
import workPandora from "../assets/images/works/pandora.jpg"
import workCrypto from "../assets/images/works/cryptoscamalert.jpg"
import workKorzh from "../assets/images/works/korzh.jpg"
import workMinataur from "../assets/images/works/minataur.jpg"
import workMirohost from "../assets/images/works/mirohost.jpg"
import workAistant from "../assets/images/works/aistant.jpg"
---
<Page title="Metro UI - Expressive library for impressive coding">
    <section class="container-fluid">
        <div class="container">
            <div class="hero">
                <div class="block-center">
                    <Image src="/images/strategy.svg" alt="" height="400" width="400" style="transform: scale(1.4)"/>
                </div>
                <div class="text-header text-center">
                    Welcome to <span class="no-wrap fg-red">Metro UI</span>
                </div>
                <div class="text-subheader text-center mt-4">
                    <span data-role="typer" data-delete-delay="2000">
                        First library in Metro Style,
                        7k+ stars on github,
                        Expressive coding...,
                        ...with impressive library,
                        Become a King of coding!
                    </span>
                </div>
                <div class="mt-10">
                    <ul class="inline-list block-center reduce-2 mt-10 mb-10">
                        <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/fork"><span class="mif-github mr-1"></span> Fork</a></li>
                        <li>/</li>
                        <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/archive/refs/heads/master.zip"><span class="mif-download mr-1"></span> Download</a></li>
                        <li>/</li>
                        <li><a class="button mini link" href="https://github.com/olton/Metro-UI-CSS/discussions"><span class="mif-chat mr-1"></span> Discuss</a></li>
                    </ul>
                </div>

                <div class="row">
                    <div class="cell-md-3"></div>
                    <div class="cell-md-6">
                        <div class="d-flex flex-row">
                            <code class="m-1 p-2 border bd-default text-center w-100 c-pointer" data-copy-to-clipboard="npm i @olton/metroui">
                                npm i @olton/metroui
                                <div class="reduce-4">click to copy to clipboard</div>
                            </code>

                            <code class="m-1 p-2 border bd-default text-center w-100 c-pointer" onclick="window.location.href = `/quick-start`">
                                Quick Start
                                <div class="reduce-4">click to open</div>
                            </code>
                        </div>
                    </div>
                    <div class="cell-md-3"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mb-10">
        <div class="container">
            <h1 class="text-center text-header"><span class="reduce-3">Main <span class="fg-red">&lt;Features&gt;</span></span></h1>
            <div class="row">
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/html-first.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">Html-First</div>
                            <div>Using Metro UI is straightforward. You don't even need to know javascript to make fully functional websites that interact with the user.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/javascript.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">JS Routines</div>
                            <div>Metro UI includes several JS libs to work with strings, color, animations, datetime, and others.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/dark-light.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">Dark &amp; Light</div>
                            <div>Support dark-light switching out of the box, including the relevant components.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/docs.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">Good Docs</div>
                            <div>Metro UI has detailed documentation and good examples. Requests an additional example.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mb-10">
        <div class="container">
            <h1 class="text-center text-header"><span class="reduce-3">Started <span class="fg-red">&lt;Any&gt;</span></span></h1>
            <div class="block-center">
                <div class="w-75 text-center">
                    Jump right into building with Metro UI — use the CDN, install it via package manager, or download the source code.
                </div>
            </div>
            <div class="row mt-4">
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/cdn.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">CDN</div>
                            <div>The CDN is provided by the excellent provider <a href="https://keycdn.com">KeyCDN</a>. You can also use other free CDNs.</div>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="feature-card">
                        <div class="feature-card__image">
                            <Image src="/images/process.svg" alt="" width="200" height="200"/>
                        </div>
                        <div>
                            <div class="text-subheader mb-2 border-bottom bd-default pb-4">NPM</div>
                            <div>Install Metro UI source Less and JavaScript files via <a href="https://npmjs.com/@olton/metroui">npm</a> and build your custom set.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mb-10">
        <div class="container">
            <h1 class="text-center text-header"><span class="reduce-3">Build <span class="fg-red">&lt;With&gt;</span></span></h1>
            <div class="block-center">
                <div class="w-75 text-center">
                    Use any bundler to create your own set of Metro UI components.
                </div>
            </div>
            <div class="row mt-4">
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/esbuild.svg" alt="esbuild" width="64" height="64"/>
                    <div>esbuild</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/parcel.svg" alt="esbuild" width="64" height="64"/>
                    <div>Parcel</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/rollup.svg" alt="esbuild" width="64" height="64"/>
                    <div>Rollup</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/vite.svg" alt="esbuild" width="64" height="64"/>
                    <div>Vite</div>
                </div>
                <div class="cell-md-one-fifth d-flex flex-column flex-align-center flex-justify-center border bd-default border-radius-10 pt-4 pb-4">
                    <Image src="/images/logos/webpack.svg" alt="esbuild" width="64" height="64"/>
                    <div>Webpack</div>
                </div>
            </div>
            <div class="block-center mt-4">
                <div class="w-75 text-center">
                    Create your own awesome set of Metro UI components with your favorite bundler. You can see examples of using different bundlers in <a href="https://github.com/olton/metro4-bundlers">this repository</a>.
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid mt-20 mb-10 bg-secondary-block pt-10 pb-10">
        <div class="container">
            <div class="text-header">Lib.Structure:</div>
            <div class="mt-4">
                Metro UI offers the developer utilities functions, 6 specialized modules, and more than 100 components that do not require jQuery.
                Moreover, Metro UI contains the m4q module, which provides the user with most of jQuery's functionality for interacting with the DOM.
                There are also modules for working with dates, terms, color and more... All parts are written by the same author, so Metro UI has <kbd>zero-dependency</kbd>.
                <p><p>Metro UI consists of five parts:
            </div>
            <div class="row mt-4">
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center">
                        <div class="text-header pos-absolute pos-top-right fg-red">1</div>
                        <Image src="/images/css.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Common CSS</div>
                        <div class="reduce-4 text-center mt-4">
                            contains styles for: display, flex, border, cursor, floating, sizing and positioning, typography, and base themes colors
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center">
                        <div class="text-header pos-absolute pos-top-right fg-red">2</div>
                        <Image src="/images/javascript.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Common JS</div>
                        <div class="reduce-4 text-center mt-4">
                            contains a lot of usefulness functions, such as an extended list of type and condition checking functions, css functions, and more other
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center">
                        <div class="text-header pos-absolute pos-top-right fg-red">3</div>
                        <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Special Modules</div>
                        <div class="reduce-4 text-center mt-4">
                            libraries for work with datetime, str (for string), farbe (for color), html, animation routines
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center">
                        <div class="text-header pos-absolute pos-top-right fg-red">4</div>
                        <Image src="/images/product-manager.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Components</div>
                        <div class="reduce-4 text-center mt-4">
                            more than 100 components for almost all cases: inputs, cards, menus, and others
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center">
                        <div class="text-header pos-absolute pos-top-right fg-red">5</div>
                        <Image src="/images/icons.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Icons</div>
                        <div class="reduce-4 text-center mt-4">
                            Metro Icons Font includes 800+ useful icons for your application
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="container-fluid mt-20 mb-10">
        <div class="container">
            <h1 class="text-header text-center"><span class="reduce-3">CSS <span class="fg-red">&lt;Vars&gt;</span></span></h1>
            <div class="block-center">
                <div class="w-75 text-center">
                    Metro UI is evolving with each release to better utilize CSS variables for global theme styles, individual components, and even utilities.
                </div>
            </div>
            <div class="row mt-4">
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="text-subheader mb-2 border-bottom bd-default pb-4">
                        <span class="mif-sun place-right"></span>
                        :root
                    </div>
                    <div>
                        Metro UI provide dozens of variables for colors, font styles, and more at a <kbd>:root</kbd> level for use anywhere.
                        Variables are divided into global and component variables.
                        <p>Variables names start with the component name and are followed by the name of the property.
                    </div>
                    <div class="border bd-default mt-4">
                        <Code code={`
    :root {
        --body-background: #ffffff;
        --body-color: #191919;
        --border-color: #e8e8e8;
        --link-color: #5a87cb;
        --link-color-hover: #0056B3FF; 
    }
                        `} lang="css" />
                    </div>
                </div>
                <div class="cell-lg-6 border bd-default border-radius-10 p-6">
                    <div class="text-subheader mb-2 border-bottom bd-default pb-4">
                        <span class="mif-moon place-right"></span>
                        :dark-side
                    </div>
                    <div>
                        All Metro UI components support <b>dark ↔ light</b> mode.
                        In Metro UI <kbd>light</kbd> mode is default.
                        For <kbd>dark</kbd> mode you can define variables inside a <kbd>.dark-side</kbd> class.
                        <p>To switch to <kbd>dark</kbd> mode you must add class <b>.dark-side</b> to <kbd>html</kbd> tag. Also you can use special components that switch mode.
                    </div>
                    <div class="border bd-default mt-4">
                        <Code code={`
    .dark-side {
        --body-background: #1e1f22;
        --body-color: #dbdfe7;
        --border-color: #4a4d51;
        --link-color: #5a87cb;
        --link-color-hover: #0056B3FF;
    }
                        `} lang="css" />
                    </div>
                </div>
            </div>
            <div class="remark rounded mt-4">
                <span class="mif-report icon"></span>
                <div>
                    You can override css variables not only in the <kbd>:root</kbd>.
                    If you only need to change one or more components on a page or component(s) in specified area, add your own class to the component (area) and define variables inside that class.
                    More information you can get from <a href="https://docs.metroui.org.ua/">documentation</a>.
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mt-20 mb-10 bg-secondary-block pt-10 pb-10">
        <div class="container">
            <h1 class="text-header"><span class="reduce-3">&lcub;Special&rcub;</span></h1>
            <div>
                Metro UI includes special js modules to work with date and time, strings, colors, html, animations, and hooks.
            </div>
            <div class="row mt-10">
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center h-100">
                        <div class="text-header pos-absolute pos-top-right fg-red">1</div>
                        <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Datetime</div>
                        <div class="reduce-4 text-center mt-4 mb-4">
                            Class to work with date and time: parsing, formatting, converting, calculating, ...
                        </div>
                        <div class="mt-auto">
                            <a class="fg-white" href="https://github.com/olton/datetime">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center h-100">
                        <div class="text-header pos-absolute pos-top-right fg-red">2</div>
                        <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Str</div>
                        <div class="reduce-4 text-center mt-4 mb-4">
                            Class and fabric function to work with string: counting, transforming, checking, matching...
                        </div>
                        <div class="mt-auto">
                            <a class="fg-white" href="https://github.com/olton/string">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center h-100">
                        <div class="text-header pos-absolute pos-top-right fg-red">3</div>
                        <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Farbe</div>
                        <div class="reduce-4 text-center mt-4 mb-4">
                            Class and fabric function to work with colors: parsing, transforming, checking, matching...
                        </div>
                        <div class="mt-auto">
                            <a class="fg-white" href="https://github.com/olton/farbe">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center h-100">
                        <div class="text-header pos-absolute pos-top-right fg-red">4</div>
                        <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Html</div>
                        <div class="reduce-4 text-center mt-4 mb-4">
                            A set of function to create html elements via javascript...
                        </div>
                        <div class="mt-auto">
                            <a class="fg-white" href="https://github.com/olton/html">GitHub</a>
                        </div>
                    </div>
                </div>
                <div class="cell-lg-one-fifth cell-sm-4 border bd-red border-radius-10 p-6 bg-lightRed fg-white">
                    <div class="d-flex flex-column flex-no-wrap flex-align-center h-100">
                        <div class="text-header pos-absolute pos-top-right fg-red">5</div>
                        <Image src="/images/module.svg" alt="" width="48" height="48" style="transform: scale(1.4)"/>
                        <div class="mt-4 text-subheader-secondary">Animation</div>
                        <div class="reduce-4 text-center mt-4 mb-4">
                            Class to add animation to html elements and numeric values...
                        </div>
                        <div class="mt-auto">
                            <a class="fg-white" href="https://github.com/olton/animation">GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-10">
                Also Metro UI provides a special hooks functions: <kbd>HOOK.useState()</kbd>, <kbd>HOOK.useEvent()</kbd>, and <kbd>HOOK.useEffect()</kbd>
            </div>
        </div>
    </section>

    <section class="container-fluid mt-20 mb-10">
        <div class="container">
            <h1 class="text-header"><span class="reduce-3">Metro UI <span class="fg-red">&lt;Action&gt;</span></span></h1>
            <div class="row mt-10">
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <a href="https://minataur.net">
                            <Image src={workMinataur} alt="Minataur.net" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <a href="https://themes.org.ua/mirohost">
                            <Image src={workMirohost} alt="Mirohost.net" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <a href="https://korzh.com">
                            <Image src={workKorzh} alt="Korzh.com" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <a href="https://themes.org.ua/aistant">
                            <Image src={workAistant} alt="Aistant.com" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <a href="https://cryptoscamalert.com">
                            <Image src={workCrypto} alt="Korzh.com" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6">
                    <div class="work-preview">
                        <a href="https://themes.org.ua/pandora">
                            <Image src={workPandora} alt="Korzh.com" style="width: 100%; height: auto;"/>
                        </a>
                    </div>
                    <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
                </div>
                <div class="cell-md-3 cell-sm-6 border bd-default no-overflow d-flex flex-align-center flex-justify-center">
                    <div class="p-10">Maybe your site will be next?...</div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid mt-20 mb-10">
        <div class="container">
            <h1 class="text-header"><span class="reduce-3">Metro <span class="fg-red">&lt;Icons&gt;</span></span></h1>
            <div>
                Metro Icons is an open source SVG icon library featuring over 800+ glyphs.
                Use them as SVGs or icon fonts—both options give you vector scaling and easy customization via CSS.
                You can include icons in your project either using a CDN or using your favorite bundler.
            </div>
        </div>
    </section>

    <section class="container-fluid prefooter pt-4 pb-4">
        <div class="container">
            <div>
                <div class="text-center text-subheader">
                    Technical Partners
                </div>
                <ul class="inline-list d-flex flex-justify-center">
                    <li><a href="https://keycdn.com"><Image src="/images/logos/keycdn.svg" width="200" height="200" alt="KeyCDN.com"/></a></li>
                    <li class="ml-10 mr-10"><a href="https://jetbrains.com"><Image src="/images/logos/jetbrains.svg" width="200" height="200" alt="JetBrains.com"/></a></li>
                    <li><a href="https://mirohost.net"><Image src="/images/logos/mirohost.svg" width="200" height="200" alt="Mirohost.net"/></a></li>
                </ul>
                <div class="text-center">
                    Thank you for tech support
                </div>
            </div>
        </div>
    </section>

</Page>