---
import {Image} from "astro:assets"

import workReserve from "../../assets/images/works/reserve-plus.jpg"
import workPandora from "../../assets/images/works/pandora.jpg"
import workCrypto from "../../assets/images/works/cryptoscamalert.jpg"
import workKorzh from "../../assets/images/works/korzh.jpg"
import workMinataur from "../../assets/images/works/minataur.jpg"
import workMirohost from "../../assets/images/works/mirohost.jpg"
import workAistant from "../../assets/images/works/aistant.jpg"
---
<section class="container-fluid mt-20 mb-10">
    <div class="container">
        <h1 class="text-header"><span class="reduce-3">Metro UI <span class="fg-red">&lt;Action&gt;</span></span></h1>
        <div class="row mt-10">
            <div class="cell-md-3 cell-sm-6">
                <div class="work-preview">
                    <a href="https://minataur.net">
                        <Image src={workMinataur} alt="Minataur.net" style="width: 100%; height: auto;"/>
                    </a>
                </div>
                <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
            </div>
            <div class="cell-md-3 cell-sm-6">
                <div class="work-preview">
                    <a href="https://themes.org.ua/mirohost">
                        <Image src={workMirohost} alt="Mirohost.net" style="width: 100%; height: auto;"/>
                    </a>
                </div>
                <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
            </div>
            <div class="cell-md-3 cell-sm-6">
                <div class="work-preview">
                    <a href="https://korzh.com">
                        <Image src={workKorzh} alt="Korzh.com" style="width: 100%; height: auto;"/>
                    </a>
                </div>
                <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
            </div>
            <div class="cell-md-3 cell-sm-6">
                <div class="work-preview">
                    <a href="https://themes.org.ua/aistant">
                        <Image src={workAistant} alt="Aistant.com" style="width: 100%; height: auto;"/>
                    </a>
                </div>
                <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
            </div>
            <div class="cell-md-3 cell-sm-6">
                <div class="work-preview">
                    <a href="https://cryptoscamalert.com">
                        <Image src={workCrypto} alt="Korzh.com" style="width: 100%; height: auto;"/>
                    </a>
                </div>
                <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
            </div>
            <div class="cell-md-3 cell-sm-6">
                <div class="work-preview">
                    <a href="https://themes.org.ua/pandora">
                        <Image src={workPandora} alt="Korzh.com" style="width: 100%; height: auto;"/>
                    </a>
                </div>
                <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
            </div>
            <div class="cell-md-3 cell-sm-6">
                <div class="work-preview">
                    <a href="https://reserveplus.mod.gov.ua/">
                        <Image src={workReserve} alt="Korzh.com" style="width: 100%; height: auto;"/>
                    </a>
                </div>
                <div class="arrow"><span class="mif-arrow-right mif-4x"></span></div>
            </div>
            <div class="cell-md-3 cell-sm-6 border bd-default no-overflow d-flex flex-align-center flex-justify-center">
                <div class="p-10">Maybe your site will be next?...</div>
            </div>
        </div>
    </div>
</section>
