---
import {str} from "@olton/string"
import {datetime} from "@olton/datetime"
const { post } = Astro.props
const {id, slug, body, data, render} = post
const {title, date, description} = data

const {Content} = await render()
---

<article class="mb-5 border bd-default p-5 border-radius-10">
    <div class="place-right reduce-2 text-muted">{datetime(date).format("DD, MMM YYYY")}</div>
    <a class="h3 no-decor d-block mt-4" href=`${post.url}`>{title}</a>

    <div class="news-content">
        <Content/>
    </div>
</article>